
/pretrain_models
/trainings/.venv
/trainings/myenv
1d-tokenizer/maskgit-vqgan-imagenet-f16-256.bin
/1d-tokenizer/wandb
/1d-tokenizer/titok_b_64_stage1_run1
1d-tokenizer/tokenizer_titok_b64.bin
1d-tokenizer/tokenizer_titok_l32.bin
1d-tokenizer/generator_titok_l32.bin
/final_product/TiTok_weights
/checkpoint-640350
/mbart_model
/mbart_model
/mbart_model
/mbart_model
/mbart_model
mbart_model/generation_config.json
/mbart_model
/final_product/Sign2Text/checkpoint-12
/final_product/Sign2Text/checkpoint-16
/final_product/Sign2Text
/SIgn2Text_weights
final_product/vis_tokenizer/generator_titok_l32.bin
final_product/vis_tokenizer/maskgit-vqgan-imagenet-f16-256.bin
final_product/vis_tokenizer/tokenizer_titok_l32.bin
/final_product/vis_tokenizer/titok_l_32_stage1_run1
/final_product/vis_tokenizer/titok_l_32_stage1_run1
/final_product/vis_tokenizer/titok_l_32_stage1_run1
/final_product/vis_tokenizer/titok_l_32_stage1_run1
final_product/frozen_sign2text/ema_model/pytorch_model.bin
/final_product/vis_tokenizer/wandb
/final_product/vis_tokenizer/wandb
/Resnet_VLP_run1
/TiTok_SLT/__pycache__
/TiTok_SLT/vis_tokenizer/wandb
*.pyc
TiTok_SLT/vis_tokenizer/tokenizer_titok_l32.bin
/TiTok_SLT/Sign2Text
/Resnet_VLP/pretrain_models
TiTok_SLT/vis_tokenizer/maskgit-vqgan-imagenet-f16-256.bin
TiTok_SLT/vis_tokenizer/generator_titok_l32.bin
/Resnet_VLP/transferred_mbart_model
/Resnet_SLT_run1
/data_analysis/__pycache__
