
/pretrain_models
/trainings/.venv
/trainings/myenv
1d-tokenizer/maskgit-vqgan-imagenet-f16-256.bin
/1d-tokenizer/wandb
/1d-tokenizer/titok_b_64_stage1_run1
1d-tokenizer/tokenizer_titok_b64.bin
1d-tokenizer/tokenizer_titok_l32.bin
1d-tokenizer/generator_titok_l32.bin
/final_product/TiTok_weights
/checkpoint-640350
/mbart_model
/mbart_model
/mbart_model
/mbart_model
/mbart_model
mbart_model/generation_config.json
/mbart_model
